*, *:before, *:after {
  position:   relative;
  box-sizing: border-box;
}

body, html {
  display:          block;
  margin:           0;
  background-color: $color-black;

  ::selection { background: $color-error; }
}

section {
  padding: 50px;
}

fieldset {
  border: none;
}
